name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  community-health-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: pyrsia/.github
      - uses: actions/upload-artifact@v2
        with:
          name: health-files
          path: '*.md'
  deploy:
    needs: community-health-files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: npm
      - uses: actions/download-artifact@v2
        with:
          name: health-files
          path: docs/developer
      - run: |
          npm ci
          npm run build
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com